textarea {width:86%;resize:none;margin:10px 0px;font-size:20px;}
.menuDiv {text-align:center;border:1px solid #e7e7e7;background-color:#e7e7e7;margin-left:7%;margin-right:7%;position:relative;}
.icoImg {position:absolute;margin:auto;bottom:0px;top:0px;left:8px;height:40px;}
h2 {position:absolute;margin:auto;bottom:0px;}
.ico {left:52px;font-size:28px;color:#333;top:9px;}
.help {right:70px;font-size:16px;top:18px;color:#4e6ef2;}
.help:hover {cursor:pointer;}
.support {right:25px;font-size:16px;top:18px;color:#4e6ef2;}
.support:hover {cursor:pointer;}
.activities {right:25px;font-size:17px;font-weight:bold;top:80px;color:#4e6ef2;text-decoration:none;}
.activities:hover {cursor:pointer;}
.laowang {margin-left:8%;font-size:20px;font-weight:bold;top:600px;color:#4e6ef2;text-decoration:none;}
.laowang:hover {cursor:pointer;}
.menu {padding:12px;font-size:20px;text-align:center;display:inline-block;color:#666;border-radius:5px;}
.menu:hover {background-color:#666;color:white;cursor:pointer;}
.menu2 {padding:12px;font-size:20px;text-align:center;display:inline-block;background-color:#39a0e2;color:white;cursor:pointer;border-radius:5px;}
#waringDiv {text-align:center;margin:2px;font-size:17px;}
.btn {background-color:#4e6ef2;border:none;color: white;padding: 8px 15px;margin:3px 5px 10px 25px;text-align: center;font-size:20px;border-radius:5px;}
.btn:hover {background-color:#4662d9;cursor:pointer;}
.btn:active {transform: translateY(4px);}
.btn2 {background-color:#5cb85c;border: none;color: white;padding: 8px 15px;margin:3px 5px 10px 25px;text-align: center;font-size:20px;border-radius:5px;}
.btn2:hover {background-color:#4CAF50;cursor:pointer;}
.btn2:active {transform: translateY(5px);}
#tiShi {display:inline-block;font-size:19px;width:180px;margin-left:-30px;}
#mainDiv {text-align:center;width:100%;}
.msg {text-align:left;margin-left:7%;margin-top:5px;margin-right:20px;color:#337ac7;font-size:17px;}
#authorDiv {text-align:right;margin-right:8%;font-size:16px;}
.mask {position:fixed;top:0;bottom:0;left:0;width:100%;height:auto;background:rgba(0,0,0,0.5);z-index:100;display:none;}
.modal {position:fixed;top:50%;left:50%;width:735px;transform:translate(-50%,-50%);border-radius:5px;background:#fff;box-shadow:2px 3px 20px rgba(0,0,0,0.2);z-index:120;display:none;}
.modal-header {height:50px;border-bottom:1px solid #f5f5f5;padding:0 15px;}
.modal-header p {line-height:50px;display:inline-block;}
.titleH {font-size:24px;font-weight:bold;color:#333;padding:0;margin:0;}
.titleS {font-size:18px;font-weight:bold;margin-bottom:3px;}
.close {float:right;font-size:35px;margin-top:-2px;color:#9C9FA4;}
.close:hover {cursor:pointer;}
.modal-content {padding:10px 20px;width:695px;line-height:25px;display:none;}
.modal-footer {border-top: 1px solid #f5f5f5;padding: 5px;text-align: right;margin-right:20px;}
.support-img {height:300px;display:inline-block;padding:12px 50px;}
.zfb-img {height:485px;display:inline-block;padding:0px 175px;}
