textarea {width:94%;resize:none;margin:10px 0px;font-size:21px;border:1px solid #000;overflow-x:hidden;word-break:break-all;white-space:pre-wrap;word-wrap:break-word;padding:2px;font-family:Microsoft YaHei,PingFang SC,Tahoma,monospace;}
.roarHead{font-size:28px;}
.roarTxt {width:135px;font-size:28px;}
.menuDiv {text-align:center;border:1px solid #e7e7e7;background-color:#e7e7e7;position:relative;}
.icoImg {position:absolute;margin:auto;bottom:0px;top:0px;left:20px;height:58px;}
h2 {position:absolute;margin:auto;bottom:0px;}
.ico {display:none;}
.help {right:113px;font-size:28px;top:75px;color:#4e6ef2;}
.help:hover {cursor:pointer;color:red;}
.support {right:28px;font-size:28px;top:75px;color:#4e6ef2;}
.support:hover {cursor:pointer;color:red;}
#RARZAR {position:absolute;margin:auto;right:197px;font-size:28px;font-weight:bold;top:75px;color:#4e6ef2;}
.menu {padding:8px;font-size:28px;text-align:center;display:inline-block;color:#666;border-radius:5px;}
.menu:hover {background-color:#666;color:white;}
.menu2 {padding:8px;font-size:28px;text-align:center;display:inline-block;background-color:#39a0e2;color:white;border-radius:5px;}
#waringDiv {text-align:center;margin:45px 0px 18px 0px;font-size:27px;}
a {text-decoration:none;}
a:visited {color:blue;}
a:hover {color:red;}
.btn {background-color:#4e6ef2;border: none;color: white;padding: 10px 18px;margin:3px 5px 12px 25px;text-align: center;font-size:27px;}
.btn:hover {background-color:#4662d9;border-radius:5px;}
.btn:active {transform: translateY(4px);}
.btn2 {background-color:#5cb85c;border: none;color: white;padding: 10px 18px;margin:3px 5px 12px 25px;text-align: center;font-size:27px;border-radius:5px;}
.btn2:hover {background-color:#4CAF50;}
.btn2:active {transform: translateY(5px);}
#tiShi {display:inline-block;font-size:20px;width:195px;margin-left:-32px;}
#mainDiv {text-align:center;width:100%;}
.msg {text-align:left;margin-left:3%;margin-top:0px;margin-right:20px;color:#337ac7;font-size:24px;}
#authorDiv {text-align:right;margin-right:5%;font-size:22px;margin-top:-27px;}
select {font-size:19px;}
#authorDiv2 {font-size:22px;}
.mask {position:fixed;top:0;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:100;display:none;}
.modal {position:fixed;top:50%;left:50%;width:600px;transform:translate(-50%,-50%);border-radius:5px;background:#fff;box-shadow:2px 3px 20px rgba(0,0,0,0.2);z-index:120;display: none;overflow-y:auto;max-height:96%;}
.modal-header {height:60px;border-bottom:1px solid #f5f5f5;padding:0 20px;}
.modal-header p {line-height:60px;display:inline-block;}
.titleH {font-size:29px;font-weight:bold;color:#333;padding:0;margin:0;}
.titleS {font-size:18px;font-weight:bold;margin-bottom:3px;}
.close {float:right;font-size:30px;margin-top:-2px;color:#9C9FA4;}
.close:hover {}
.modal-content {padding:10px 15px;width:570px;line-height:36px;display:none;}
.modal-footer {border-top: 1px solid #f5f5f5;padding: 5px;text-align:center;margin-right:20px;line-height:55px;}
.support-img {width:55%;text-align:center;display:table-cell;padding:12px 110px;}
.helpTxt {font-size:19px;}
.zfb-img {width:86%;display:inline-block;padding:0px 58px;}
.roar {position:relative;display:inline-block;left:-38%;font-size:28px;font-weight:bold;top:0px;color:#4e6ef2;text-decoration:none;}
.roar:hover {cursor:pointer;;color:red;}
#downText {text-align:left;height:400px;overflow-y:scroll;overflow-x:hidden;word-break:break-all;border:1px solid #000;width:94%;margin:10px 0px;font-size:21px;margin-left:3%;padding:2px;font-family:Microsoft YaHei,PingFang SC,Tahoma,monospace;}
#downText:empty::before{content:attr(placeholder);color:#888;}
xmp {word-break:break-all;white-space:pre-wrap;word-wrap:break-word;margin:0px;padding:2px;}